body {
	color: #313131;
	font-family: "Droid Sans", sans-serif;
}

h1, h2, h5{
  color: #333;
  margin-top: 0;
}

h3 {
	color: #0479A6;
  font-size: 150%;
  margin: 0;
  padding: 0;
}

h4 {
  color: #0889A9;
  font-size: 130%;
  margin-top: 0;
}

#fixed-bar {
    position: absolute;
    right: 0;
    bottom: 50px;
    padding: 10px;
    background-color: #222222;
    z-index: 100;
    border-radius: 3px;
}
a #fixed-bar {
    color: white;
    text-decoration: none;
}
#bar-inner {
    width: 100%;
    margin: 0 auto;
    line-height: 36px;
}

a {
	color: rgba(29,170,255, 1);
}

a:hover, a:focus {
  color: rgba(17,99,153, 1);
}

#search:focus {
  outline: none;
}

.searchresults a {
   text-decoration: underline;
}

hr {
	height: 3px;
	background: blue;
}

.brand {
	color: blue!important;
	font-size: 24px!important;	
}


.live_search {
	margin-top: 60px;

}

.live_search ul{
	list-style-type: none;
	display: block;
	padding: 10px;
  margin: 0;
	background-color: #f5f5f5;
	background-color: rgba(0,0,0,.0175);
	border-radius: 3px;
	border: 1px solid rgba(15,15,15,.25);
}

.live_search ul li{
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted rgba(0,0,0,.25);
}

.live_search ul li:last-child
{
border-bottom: none;
}

.phonenums {
  color: #752300;
}

.error {
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

input[type="search"]:focus.invalid {
border-color: rgba(255, 0, 0, 0.35);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.035) inset, 0 0 8px rgba(255, 0, 0, 0.4);
outline: 0 none;
}


/* ====== Media Queries  =====*/


@media only screen and (min-width: 768px) and (max-width: 979px) {


.live_search {
  position: relative;
  top: -60px;

}

	h1 {
  	font-size: 250%;
  }

    h2 {
    font-size: 175%;
  }

  	h3 {
  		font-size: 150%;
  	}

    p {
      font-size: 90%;
  }

} 

@media only screen and (min-width: 481px) and (max-width: 767px) {

.live_search {
  position: relative;
  top: -60px;

}

  h1 {
    font-size: 220%;
  }

     h2 {
    font-size: 165%;
  }

  	h3 {
  		font-size: 140%
  	}

    p {
      font-size: 85%;
  }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  
  .live_search {
  position: relative;
  top: -60px;
 
  }

  	h1 {
	  	font-size: 175%;
	  }

      h2 {
    font-size: 130%;
  	}

  	h3 {
  		font-size: 120%
  	}

    p {
      font-size: 80%;
  }

}


@media only screen and (min-width: 0px) and (max-width: 319px) {
  
  .live_search {
  position: relative;
  top: -60px;
  }


    h1 {
      font-size: 125%;
    }

      h2 {
    font-size: 100%;
    }

    h3 {
      font-size: 90%;
    }

    p {
      font-size: 50%;
  }

}
